<% Object.keys(messages).forEach(function (type) { %>
  <div class="my-3 text-center alert alert-<%= type %>" role="alert">
  <% messages[type].forEach(function (message) { %>
    <%= message %>
    <a href="/cart.html" class="alert-link">Ir al carrito</a>. Da click si quieres revisar tus productos añadidos.
  <% }) %>
  </div>
<% }) %>

